.navbar {
  border-radius: 0;
}
#signin{
  float: right;
  padding: 20px 0;
  font-size: 2em;
  font-weight: 700;
  color: #49f24e;
  font-family: cursive;
}
#signout {
  float: right;
  padding: 40px;
  font-size: 2em;
  font-weight: 500;
  color: #000;
}
#logo {
  width: 300px;
  padding: 30px;
}
#signin_view {
  padding: 100px;
}
.copyright {
  color: #49f24e;
}
.signup_btn {
  color: #fff;
}